.Container {
  width: fit-content;
  min-width: fit-content;
  transition: all 1.5s;
  height: fit-content;
  overflow: hidden;
  display: flex;
}

.Content {
  float: left;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 240px;
  height: 320px;
  overflow: hidden;
  background-color:	#C33149;
  border-radius: 20px;
  transition: all 0.3s;
}

.Content:hover {
  transform: translateY(-6px);
  box-shadow: 0 11px 14px rgb(0 0 0 / 25%), 0 8px 20px rgb(0 0 0 / 10%);
}

.Image {
  display: flex;
  width: 300px;
  height: 300px;
  overflow: hidden;
  object-fit: contain;
}

.Content img {
  width: 100%;
  overflow: hidden;
}

.Mega {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 110px;
  padding: 10px 20px;
}

.Mega>.Title {
  padding: 0;
  margin: 1px 0;
  font-size: 22px;
  color: 	#FFFAFA;
}

@media screen and (max-width:562px) {
  .Container {
    width: fit-content;
    height: fit-content;
  }
  .Content{
    max-width: 140px;
    max-height: 200px;
    overflow: hidden;
    
  }

  .Image{
    width: 140px; 
    max-height: 100px;
    object-fit: contain;
  }

  .Mega{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 110px;
    padding: 10px 10px;
  }

  .Mega>.Title{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20px;
    height: 10px;
    font-size: 15px;

  }


}

@media screen and (max-width:1024px) {
  .Container {
    width: fit-content;
    height: fit-content;
  }
  .Content{
    max-width: 140px;
    max-height: 200px;
    overflow: hidden;
    
  }

  .Image{
    width: 140px; 
    max-height: 100px;
    object-fit: contain;
  }

  .Mega{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 110px;
    padding: 10px 10px;
  }

  .Mega>.Title{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20px;
    height: 10px;
    font-size: 15px;

  }
}