@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


.Found {
    background-image: linear-gradient(135deg, #fe6c99, #f77308);
    box-sizing: border-box;
    padding-bottom: 36rem;
}

.Title {
    font-weight: 700;
    font-family: inter;
    font-size: 3rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    padding-top: 6rem;
    color: white;
    max-width: 350px;
    display: flex;
    position: relative;
    left: 40rem;
    top: 15rem;
}

.phrase {
    color: white;
    font-style: inter;
    margin-left: 3rem;
    margin-top: 2rem;
    font-size: larger;
    max-width: 300px;
    display: flex;
    position: relative;
    left: 36rem;
    top: 14rem;
}