.wrapper {
    background-color: #fe6c99;
    min-height: 49.3rem;
}

.cardWrapper {
    
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
    flex: 1 1 150px;
    gap: 10px;
    justify-content: space-evenly;
}

@media screen and (max-width:1024px) {
    .wrapper{
        display: flex;
    }
}