.containerStyles {
    height: 20;
    width: 100%;
    background-color: #e0e0de;
    border-radius: 2rem;
    margin-right: 3rem;
    margin-left: 3.2rem;
}

.fillerStyles {
    width: var(--completed);
    height: 100%;
    background-color: #6a1b9a;
    transition: width 1s ease-in-out;
    border-radius: inherit;
    text-align: right;
    
}

.labelStyles {
    padding: 5;
    color: #fcfcfc;
    font-weight: bold;
    padding-right: 0.5rem;
}
.endStyle{
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: visibility 0s linear 2s, opacity 1.45s linear;
    height: 20;
    width: 100%;
    background-color: #e0e0de;
    border-radius: 2rem;
    margin-right: 3rem;
    margin-left: 3.2rem;
}
:root{
    --completed:0%;
}