.footer{
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
}

.inner-footer{
    margin: 0;
    padding: 0;
    background-color: rgb(46, 44, 44);
}

.social-items{
    display: flex;
    margin-left: 8rem;
}

.social-items>ul>.items>a{
    display: flex;
    margin-right: 3rem;
    margin-left: 3rem;
}

.items{
    list-style: none;
}



.quick-links{
    display: flex;
    margin-left: 7rem;
    
}

.quick-links ul{
    display: flex;

}

.quick-links ul li a{
    color: white;
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
}

.quick-items{
    list-style: none;
    
}

.quick-items a{
    text-decoration: none;
    padding: 0px 20px;
}

.ggg{
    max-height: 3rem;
}
